.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
color: var(--bs-navbar-active-color)!important;
font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Roboto+Condensed:wght@300&family=Roboto+Mono:wght@100&family=Shizuru&display=swap');

*{
    font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Shizuru', cursive;

}